
#clicked {
    border: solid 1px #e6eeff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#unclicked {
    display: flex;
    flex-direction: row;
    justify-content: center;
}