.App {
  text-align: center;
}

.App-header {
  width: 100%;
  background-color: #565f6e;
  height: 45px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  font-size: calc(10px + 2vmin);
  color: white;
}

#right-header {
  grid-column: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#center-header {
  grid-column: 2;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  height: calc(90vh - 50px);
  display: flex;
  flex-direction: row;
}

.subcontainer {
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
  height: 100%;
}

.scroller {
  overflow-y: scroll;
  width: 100%;
  height: calc(90% - 10px);
  background-color: #fff9e6;
  border-radius: 5%;
  margin: 10px;
  margin-right: 0%;
  margin-left: 0%;
}

.pageviz {
  margin-left: 10px;
  margin-right: 10px;
  width: 75%;
  height: 100%;
  background-color: #e6eeff;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  border-radius: 5%;
}

.react-pdf__Page__svg {
  border-radius: 5%;
}

#vCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#downloader {
  display: none;
}

#centerLoader {
  height: 100px;
  background-color: #e6eeff;
  padding: 10px;
  animation-name:rotate;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  100% {
    transform:rotate(360deg);
  }
}
